{% extends 'base.html' %}
{% block title %}Профайл пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}
<main>
  <div class="container py-5">        
    {% include 'posts/includes/subscribe.html' %}
    {% for post in page_obj %}
      <article>
        {% include 'posts/includes/post_list.html' %}
        <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
      </article>       
      {% if post.group %}   
        <!--  все записи группы -->
        <a href="{% url 'posts:group_list' post.group.slug %}">
          {{ post.group }}
        </a> 
      {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </div>
</main>
{% endblock %}
